.OnboardingPage {
    display: flex;
    flex-direction: column;

    width: 100%;
  
    justify-content: center;
    align-items: center;

    background-color: #c4bfc0;
}
  
.onboardingContainer {
  width: 100%;
  text-align: center;
  flex-direction: column;
}

#onboardingTitle {
  margin-left: 2.5%;
}