.footerContact {
    background-color: black;
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: .1vh;
    width:100%;
    position:absolute;
    bottom:0vh;
  }
  