.navbarContainer {
  height: 60px;
  box-shadow: 0 1px 1px #000000;
  display: flex;
  align-items: center;
  padding: 0 1.5em;
  background-color: #000000;
}

.section {
  display: flex;
}

.navbar {
  background-color: #000000;

  display: flex;
  position: relative;

  justify-content: center;
  align-items: center;

  top: 0px;
  margin-inline: 0px;
  padding-block: 5px;
  height: 50px;
}

.btn {
  background-color: transparent;
  color: #c9b38c;

  border: 0cm;
  margin: 0px;

  font-family: inherit;
}

.btn:hover {
  cursor: pointer;
}

.navBtn {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-inline: 20px;
  
  font-size: 16px;
}

.btn:hover {
  transition: 0.2s ease-in;
  text-decoration: underline;
}

.activeBtn {
  text-decoration: underline;
}

.burgerBtn {  
  color: #000000;
  font-size: 32px;
  
  padding: 25px;
}

#mindLogoBtn {
  position: absolute;
  left: 4px;
  top: 4px;

  height: 50px;
  padding: 0px;
  margin: 0px;
}

#mindLogo {
  width: inherit;
  height: inherit;
}

#middle {
  flex: 2;
  height: 100%;
  justify-content: center;
}

#hamburger {
  display: flex;
  flex-direction: column;
}

#marginer {
  height: 2em;
  position: absolute;
  z-index: 999;
}
