.projectsPage {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;

  background-color: #c4bfc0;
}

.projectsContainer {
  text-align: center;
  display: block;
  flex-direction: column;
  width: 95%;
}

.projectsGrid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;

  width: 100%;
  margin: 20px auto 0;
}

#projectsTitle {
  padding-left: 2.5%;
}

#previousProjectsTitleDiv {
  margin-top: 25px;
  margin-bottom: 25px;
}

#previousProjectsContainer {
  margin-bottom: 50px;
}