.project {
  display: contents;
  flex-wrap: wrap;
  flex-direction: row;
  align-self: flex-start;

  height: fit-content;
  width: 100%;

  margin-top: 5px;
  margin-bottom: 30px;
  /* padding-left: 25px; */
  padding-right: 25px;

  align-items: center;
  justify-content: left;
}

.projectInfoDiv {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  margin-left: 2.5%;
  margin-right: 2.5%;
}

.projectImageDiv {
  display: flex;
  width: 50%;
  align-items: center;
  justify-content: center;
}

.projectImage {
  max-height: fit-content;

  width: 100%;
  height: auto;

  margin-bottom: 10px;
  margin-top: 10px;
}

.projectDescriptionDiv {
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: flex-start;
  justify-content: center;
  align-items: left;
  text-align: left;

  margin-left: 20px;
}

.projectDescription {
  text-align: left;
}

.projectLeadDiv {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 24px;
  margin-top: 30px;
  margin-bottom: 30px;
}

#projectTitle {
  margin-left: 2.5%;
}

#projectLeadTitleDiv {
  margin-top: 30px;
}

#projectBreak {
  margin-top: 30px;
  margin-bottom: 15px;
}

#projectLeadNote {
  background-color: #9d9795;
  border-radius: 10px;
  padding: 10px;
}