button {
  background-color: black;
  border: none;
  color: #c9b38c;

  padding: 10px 16px;

  text-align: center;
  font-size: 16px;

  margin-bottom: 25px;
}

textarea {
  font: inherit;
  font-size: 14px;

  min-height: 125px;
  width: 1000px;
  max-width: 80vw;

  margin-bottom: 5px;
}

input {
  font-size: 14px;
  width: 1000px;
  max-width: 80vw;
}

.contactForm {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;

  width: 100vw;
}

.br {
  background-color: #c9b38c;
  height: 2px;
  margin: 10px;
}

#userInfo {
  display: flex;
  flex-direction: column;
}

#emailInfo {
  margin-top: 5px;
}