body {
  font-family: 'Roboto', sans-serif;
}

.App {
  padding-top: 90px;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 24px;
  font-weight: normal;
}

h4 {
  font-size: 22px;
  font-weight: normal;
  
  margin: 0px;
}

h5 {
  font-size: 16px;
  font-weight: lighter;
  color: #c9b38c;
}

.majorTitleDiv {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  width: 100%;
  box-sizing: border-box;
  padding: 60px 0 160px;

  background-color: #9d9795;
  clip-path: polygon(
    0% 100%,
    0% 0%,
    100% 0%,
    100% calc(100% - 140px),
    67% calc(100% - 74px),
    63% calc(100% - 70px),
    37% calc(100% - 70px),
    33% calc(100% - 66px)
  );
}

.majorTitle {
  font-size: 96px;
  line-height: 1.1;
}

.break {
  display: flex;
  height: 7px;
  width: 95%;
  margin-top: 50px;
  margin-bottom: 25px;
  margin-inline: auto;
  background-color: #8e6f3e;
  border-radius: 3px;
}

.smallBreak {
  display: flex;
  height: 7px;
  width: 45%;
  margin-top: 50px;
  margin-bottom: 25px;
  margin-inline: auto;
  background-color: #cfb991;
  border-radius: 3px;
}

.sectionTitleDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.sectionTitleLeftDiv {
  width: 50%;
  justify-content: center;
  align-items: center;
  background-color: #9d9795;
  border-radius: 0px 20px 20px 0px;
}

.sectionTitleRightDiv {
  width: 50%;
  justify-content: center;
  align-items: center;
}

.sectionTitle {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 64px;
  font-family: "Oranienbaum", serif;
  font-size: 56px;
  color: #8e6f3e;
}