.profile {
  display: relative;
  flex-direction: column;
  
  height: auto;
  max-width: 275px;
  width: 30vw;
  min-width: 200px;

  padding-inline: 10px;
  padding-top: 10px;
  margin: 10px;

  border: 2px solid #c9b38c;
  border-radius: 2px;
}

.profilePic {
  max-width: 275px;
  width: 30vw;
  min-width: 200px;

  margin-bottom: 0px;
}

.email {
  color: #c9b38c;
}

#spacer {
  height: 25px;
}

#linkedIn {
  background-color: #c9b38c;
  color: black;

  max-width: 275px;
  width: 30vw;
  min-width: 200px;
  
  margin-top: 4px;
  margin-bottom: 0px;

  cursor: pointer;
}
